<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANM CODE ASSESTMENT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <h1>Earthquake Search Map</h1>

    <h3>Introduce a city or location</h3>
    <input id= "cityName" name="city" type="text" placeholder="City/location">
    <input type="submit" id="search">

    <h2>Your query results!</h2>
    <div class="map" id="map1"></div>

    <h2>Strongest earthquakes available in GeoNamesAPI last 12 months</h2>
    <div class="map" id="map2"></div>
    

    <script defer src="../js/index.js"></script>

    <table id="history-table">

    </table>

</body>
</html>